In [6]:
#Dave's code

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time #Included to use in pausing between API requests
import re  #Enable regular expressions
import os

# Import API key
from api_keys import api_key

In [47]:
#Make API calls to US Census Bureau - American Community Survey 1-Year Data
#https://www.census.gov/data/developers/data-sets/acs-1year.2017.html
#Data will be returned on a county & state basis

#Set the range of years to pull from the api
years = ["2012","2013","2014","2015","2016","2017"]

#List of fields to request from the API
#Would like to build this into a file, with columns for the ID required for the API call and a human readable name for output
fields = ["NAME","S0101_C01_001E","S1701_C01_001E","S1701_C02_001E","S1702_C01_001E","S1702_C02_001E",
          "S1703_C01_001E","S1703_C02_001E"]

#Initiate an empty list to hold census records
census_data_raw = []

#Turn the list of fields into a string to use in the api url
field_list = ','.join(fields)

#Base url for the API request. YEAR and FIELDS are placeholders and will be substituted with values
#Using * for county and state will pull all available records
census_base_url = "https://api.census.gov/data/YEAR/acs/acs1/subject?get=FIELDS&for=county:*&in=state:*&key="

#Since API url has a year component, loop through the list of years to pull back the relevant data
for year in years:
    census_url = re.sub("YEAR", year, census_base_url) #Use regular expression to substitute the year into the base url
    census_url = re.sub("FIELDS", field_list, census_url) #Use regular expression to substitute in list of fields
    #print(census_url) #for debugging
    response = requests.get(census_url + api_key).json()
    #print(response) #for debugging
    for census_record in response[1:]: #Ignore first record in the loop
        census_record.append(year)  #Append the year to the end of the returned record
        census_data_raw.append(census_record)  #Append the full record to the list of records
    time.sleep(1) #Sleep for a second, because APIs

In [ ]:
#Set path for output file
output_data_file = "census_data\census_data.tsv"

#Use the list of fields as the headers for the data frame
headers = fields 
#Add titles for fields returned in API that aren't part of requested fields
headers.extend(["State Code","County Code","Year"])

#Convert list of census data to a dataframe
census_data_raw_df = pd.DataFrame(census_data_raw, columns=headers)

#Remove the words Parish, County, Municipio from names to match up to EPA data set
census_data_raw_df["CountyState Name"] = census_data_raw_df["CountyState Name"].str.replace(' Parish', '')
census_data_raw_df["CountyState Name"] = census_data_raw_df["CountyState Name"].str.replace(' County', '')
census_data_raw_df["CountyState Name"] = census_data_raw_df["CountyState Name"].str.replace(' Municipio', '')

#Separate the county and state into distinct fields, based on comma, remove preceding space on state
census_data_raw_df[['County','State']]=census_data_raw_df['CountyState Name'].str.split(',',expand=True).apply(lambda x: x.str.strip())

#Export dataframe to a tab-delimited file, since one of the columns includes a comma
census_data_raw_df.to_csv(output_data_file, sep="\t", index=False, encoding='utf-8')

#show the dataframe
census_data_raw_df

In [3]:
#show the dataframe

census_data_raw_df = pd.read_csv('census_data\census_data.tsv', sep="\t")
census_data_raw_df

,CountyState Name,Total Population,Total Under 18,Total 18 to 64,Total 65 and over,Total Male,Total Female,Total 16 and Over,Total 16 and Over Employed,InPoverty Population,...,PctBelowPoverty 65 and over,PctBelowPoverty Male,PctBelowPoverty Female,PctBelowPoverty 16 and Over,PctBelowPoverty 16 and Over Employed,State Code,County Code,Year,County,State
0,"Ouachita, Louisiana",146095,39226,67590,53615,-999999999,-999999999,5814,2475,35443,...,40.7,-999999999.0,-999999999.0,48.2,28.2,22,73,2012,Ouachita,Louisiana
1,"Rapides, Louisiana",128128,33709,60855,40335,-999999999,-999999999,5011,2521,28867,...,37.8,-999999999.0,-999999999.0,54.8,38.8,22,79,2012,Rapides,Louisiana
2,"St. Landry, Louisiana",82325,22661,39189,33739,-999999999,-999999999,2047,969,21149,...,43.5,-999999999.0,-999999999.0,62.0,46.2,22,97,2012,St. Landry,Louisiana
3,"St. Tammany, Louisiana",237342,59422,114493,27636,-999999999,-999999999,10713,6239,32212,...,28.4,-999999999.0,-999999999.0,33.1,34.8,22,103,2012,St. Tammany,Louisiana
4,"Tangipahoa, Louisiana",119480,30126,58332,36205,-999999999,-999999999,6504,2857,29110,...,38.2,-999999999.0,-999999999.0,38.9,63.8,22,105,2012,Tangipahoa,Louisiana
5,"Terrebonne, Louisiana",110088,28085,53178,19656,-999999999,-999999999,3278,1464,20330,...,38.5,-999999999.0,-999999999.0,39.0,33.4,22,109,2012,Terrebonne,Louisiana
6,"Androscoggin, Maine",104067,22796,51042,-999999999,-999999999,-999999999,4835,2876,16593,...,-999999999.0,-999999999.0,-999999999.0,34.8,35.9,23,1,2012,Androscoggin,Maine
7,"Aroostook, Maine",68715,13087,33689,-999999999,-999999999,-999999999,2818,1603,11358,...,-999999999.0,-999999999.0,-999999999.0,38.0,33.7,23,3,2012,Aroostook,Maine
8,"Cumberland, Maine",275849,56165,134230,6048,-999999999,6187,9754,5588,32297,...,29.1,-999999999.0,28.9,26.7,25.6,23,5,2012,Cumberland,Maine
9,"Kennebec, Maine",118408,23831,57188,-999999999,-999999999,-999999999,5885,3085,17804,...,-999999999.0,-999999999.0,-999999999.0,35.3,34.6,23,11,2012,Kennebec,Maine
10,"Penobscot, Maine",146973,28228,72035,-999999999,1778,-999999999,6346,3643,26664,...,-999999999.0,29.6,-999999999.0,29.0,28.1,23,19,2012,Penobscot,Maine
11,"York, Maine",195998,40296,96187,-999999999,-999999999,-999999999,6732,3843,22771,...,-999999999.0,-999999999.0,-999999999.0,36.6,38.3,23,31,2012,York,Maine
12,"Allegany, Maryland",66749,12846,32776,-999999999,-999999999,-999999999,3199,1880,11401,...,-999999999.0,-999999999.0,-999999999.0,37.6,31.2,24,1,2012,Allegany,Maryland
13,"Anne Arundel, Maryland",534476,123096,260635,79059,-999999999,19482,18754,9488,30494,...,12.5,-999999999.0,12.7,19.8,27.0,24,3,2012,Anne Arundel,Maryland
14,"Baltimore, Maryland",796529,174120,377540,210289,-999999999,43177,32907,17239,76903,...,13.6,-999999999.0,13.0,23.0,17.8,24,5,2012,Baltimore,Maryland
15,"Calvert, Maryland",89011,22082,44999,11477,-999999999,-999999999,3376,1735,6451,...,16.5,-999999999.0,-999999999.0,22.9,11.2,24,9,2012,Calvert,Maryland
16,"Carroll, Maryland",163721,38527,80634,-999999999,-999999999,-999999999,6063,3038,10179,...,-999999999.0,-999999999.0,-999999999.0,20.3,23.0,24,13,2012,Carroll,Maryland
17,"Cecil, Maryland",100191,24021,49430,6638,-999999999,-999999999,5899,3693,14438,...,23.5,-999999999.0,-999999999.0,20.5,24.9,24,15,2012,Cecil,Maryland
18,"Charles, Maryland",149267,38135,71567,61542,-999999999,-999999999,5024,2483,14439,...,10.2,-999999999.0,-999999999.0,23.1,25.9,24,17,2012,Charles,Maryland
19,"Frederick, Maryland",235236,57509,116904,19845,-999999999,7522,7839,4370,15942,...,15.2,-999999999.0,4.5,16.3,12.4,24,21,2012,Frederick,Maryland
20,"Harford, Maryland",245875,57312,119590,32951,-999999999,6845,10652,6031,20312,...,16.9,-999999999.0,8.6,14.2,13.5,24,25,2012,Harford,Maryland
21,"Howard, Maryland",298129,73995,145394,53293,-999999999,43997,8221,5190,13487,...,8.5,-999999999.0,3.1,10.9,3.7,24,27,2012,Howard,Maryland
22,"Montgomery, Maryland",996632,234215,480047,169335,-999999999,143207,38056,19702,64037,...,11.1,-999999999.0,5.8,19.1,17.9,24,31,2012,Montgomery,Maryland
23,"Prince George's, Maryland",860321,199743,412491,550965,-999999999,35203,47785,25212,88114,...,9.6,-999999999.0,7.0,21.9,18.4,24,33,2012,Prince George's,Maryland
24,"St. Mary's, Maryland",106281,27477,52851,13657,-999999999,-999999999,2902,1512,7483,...,15.8,-999999999.0,-999999999.0,14.4,23.1,24,37,2012,St. Mary's,Maryland
25,"Washington, Maryland",140388,32725,68786,8776,-999999999,-999999999,6461,3233,19908,...,35.7,-999999999.0,-999999999.0,36.0,22.8,24,43,2012,Washington,Maryland
26,"Wicomico, Maryland",96618,21827,46999,21657,-999999999,-999999999,4939,2924,15810,...,25.1,-999999999.0,-999999999.0,26.2,14.7,24,45,2012,Wicomico,Maryland
27,"Baltimore city, Maryland",598255,131843,278900,381963,-999999999,14252,48187,24510,148491,...,30.4,-999999999.0,16.3,45.5,40.5,24,510,2012,Baltimore city,Maryland
28,"Barnstable, Massachusetts",212878,35151,102012,-999999999,-999999999,-999999999,8774,5143,21947,...,-999999999.0,-999999999.0,-999999999.0,19.4,18.2,25,1,2012,Barnstable,Massachusetts
29,"Berkshire, Massachusetts",124178,23241,59864,-999999999,-999999999,-999999999,6694,3965,17437,...,-999999999.0,-999999999.0,-999999999.0,28.4,21.9,25,3,2012,Berkshire,Massachusetts
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4949,"Kenosha, Wisconsin",163934,38340,103690,21904,80405,83529,91556,86119,18698,...,8.4,10.4,12.3,7.5,6.3,55,59,2017,Kenosha,Wisconsin
4950,"La Crosse, Wisconsin",113369,23303,72198,17868,55468,57901,63063,61782,13961,...,6.2,10.3,14.3,9.2,8.6,55,63,2017,La Crosse,Wisconsin
4951,"Manitowoc, Wisconsin",78401,16146,46838,15417,38568,39833,42092,41069,6937,...,6.7,5.3,12.3,5.1,4.6,55,71,2017,Manitowoc,Wisconsin
4952,"Marathon, Wisconsin",133484,30049,81063,22372,66862,66622,74164,71323,13885,...,9.7,8.5,12.3,6.0,4.3,55,73,2017,Marathon,Wisconsin
4953,"Milwaukee, Wisconsin",929532,224814,582232,122486,449039,480493,476542,451264,175772,...,11.5,17.2,20.5,10.2,8.6,55,79,2017,Milwaukee,Wisconsin
4954,"Outagamie, Wisconsin",182448,43170,113437,25841,90931,91517,103863,101392,12863,...,5.1,6.3,7.8,4.4,3.6,55,87,2017,Outagamie,Wisconsin
4955,"Ozaukee, Wisconsin",86478,18592,50785,17101,42632,43846,47365,46472,4790,...,4.5,5.5,5.6,3.7,3.4,55,89,2017,Ozaukee,Wisconsin
4956,"Portage, Wisconsin",67142,13158,42753,11231,33994,33148,37224,36312,8786,...,7.2,12.8,13.4,10.8,10.3,55,97,2017,Portage,Wisconsin
4957,"Racine, Wisconsin",190946,45264,115335,30347,92846,98100,100155,96221,19579,...,7.0,9.4,11.1,4.3,3.4,55,101,2017,Racine,Wisconsin
4958,"Rock, Wisconsin",159259,37478,96623,25158,78085,81174,81373,76897,19945,...,5.7,10.3,14.6,6.8,5.7,55,105,2017,Rock,Wisconsin
4959,"St. Croix, Wisconsin",87565,22256,53711,11598,43757,43808,48649,47476,3095,...,3.8,3.0,4.1,2.2,2.2,55,109,2017,St. Croix,Wisconsin
4960,"Sheboygan, Wisconsin",112332,25340,67255,19737,56115,56217,61528,60080,8110,...,6.1,6.9,7.5,5.6,5.3,55,117,2017,Sheboygan,Wisconsin
4961,"Walworth, Wisconsin",100075,21051,61695,17329,50275,49800,56725,53994,10609,...,5.0,10.1,11.1,10.0,9.4,55,127,2017,Walworth,Wisconsin
4962,"Washington, Wisconsin",134241,29791,81624,22826,67910,66331,76233,75093,6644,...,7.2,3.8,6.2,2.6,2.4,55,131,2017,Washington,Wisconsin
4963,"Waukesha, Wisconsin",395240,85542,237765,71933,194829,200411,218587,212468,18842,...,6.2,4.0,5.5,2.5,2.4,55,133,2017,Waukesha,Wisconsin
4964,"Winnebago, Wisconsin",162831,34895,101789,26147,80503,82328,89721,87340,19686,...,9.2,10.6,13.6,8.9,8.4,55,139,2017,Winnebago,Wisconsin
4965,"Wood, Wisconsin",72049,15238,42487,14324,35753,36296,37320,36329,7775,...,13.0,10.6,11.0,5.7,5.0,55,141,2017,Wood,Wisconsin
4966,"Laramie, Wyoming",96346,22320,59230,14796,48680,47666,49273,46468,9563,...,9.7,9.7,10.2,6.6,4.0,56,21,2017,Laramie,Wyoming
4967,"Natrona, Wyoming",77303,19641,46829,10833,38740,38563,42388,39171,8418,...,9.1,9.7,12.1,8.5,6.0,56,25,2017,Natrona,Wyoming
4968,"Arecibo, Puerto Rico",85319,16308,51009,18002,40557,44762,28510,24200,41275,...,44.0,47.3,49.4,28.8,20.9,72,13,2017,Arecibo,Puerto Rico
4969,"Bayam?n, Puerto Rico",173218,32880,102872,37466,78537,94681,73543,64518,58560,...,29.5,31.3,35.9,22.8,19.1,72,21,2017,Bayam?n,Puerto Rico
4970,"Caguas, Puerto Rico",129400,25373,78722,25305,59884,69516,52349,44154,53049,...,37.1,39.8,42.0,28.5,19.1,72,25,2017,Caguas,Puerto Rico
4971,"Carolina, Puerto Rico",153736,28915,91882,32939,69949,83787,69975,60954,40140,...,25.1,24.3,27.6,16.1,10.8,72,31,2017,Carolina,Puerto Rico
4972,"Guaynabo, Puerto Rico",87077,14790,53810,18477,40798,46279,33280,30675,24144,...,23.0,27.5,28.0,15.4,11.7,72,61,2017,Guaynabo,Puerto Rico
4973,"Mayag?ez, Puerto Rico",74407,12964,44070,17373,35675,38732,25590,18609,37015,...,41.7,49.9,49.6,35.2,23.0,72,97,2017,Mayag?ez,Puerto Rico
4974,"Ponce, Puerto Rico",136612,28240,79274,29098,64019,72593,38765,34095,72708,...,36.4,53.4,53.1,33.1,29.0,72,113,2017,Ponce,Puerto Rico
4975,"San Juan, Puerto Rico",332876,61725,198509,72642,151443,181433,143870,122971,132263,...,32.5,36.4,42.5,27.3,19.8,72,127,2017,San Juan,Puerto Rico
4976,"Toa Alta, Puerto Rico",73129,15479,47741,9909,36140,36989,29482,24830,22225,...,34.0,30.6,30.2,18.9,16.3,72,135,2017,Toa Alta,Puerto Rico
4977,"Toa Baja, Puerto Rico",78034,15628,47792,14614,35904,42130,33543,27312,26276,...,31.9,33.7,33.6,25.8,14.8,72,137,2017,Toa Baja,Puerto Rico
4978,"Trujillo Alto, Puerto Rico",66453,13302,40890,12261,30379,36074,28238,27673,18426,...,24.7,23.3,31.4,14.8,14.7,72,139,2017,Trujillo Alto,Puerto Rico

In [47]:
# Loading EPA data from our CSV's and create a dataframe of EPA data across all years

import os

def read_all_epa_years ():
    
    # Base file name
    base_name = "annual_aqi_by_county_"
    # epa_data_directory
    data_directory = "epa_data"
    
    years = [2012, 2013, 2014, 2015, 2016, 2017]
    df_list = []
    
    # Loop over the years, read in .csv file and append to list of dataframes
    for year in years:
        file_name = f"{base_name}{year}.csv"
        file_path = os.path.join("", data_directory, file_name)
        
        df_list.append(pd.read_csv(file_path))
    
    # concatenate the years
    all_years_df = pd.concat(df_list, ignore_index=True)
    
    # write the combined dataframe to a new .csv file
    output_path = os.path.join("", data_directory, "annual_aqi_by_county_all.csv")
    all_years_df.to_csv(output_path)
    
    # return the dataframe
    return all_years_df

all_years_df = read_all_epa_years()

In [7]:
# now we merge both of these dataframes together
# census data path
census_data_path = "census_data"
census_file = "census_data.tsv"
census_file_name = os.path.join("", census_data_path, census_file)

census_df = pd.read_csv(census_file_name, sep="\t", encoding='utf-8', na_values=-999999999)

In [ ]:
# epa data path
epa_data_path = "epa_data"
epa_file = "annual_aqi_by_county_all.csv"
epa_file_name = os.path.join("", epa_data_path, epa_file)

epa_df = pd.read_csv(epa_file_name)

In [ ]:
# combining the two dataframes on State, County, and Year
combined_df = pd.merge(epa_df, census_df, on=["State", "County", "Year"])

In [ ]:
# write out the combined data frame
combined_df.to_csv("census_and_epa.csv")

In [18]:
# read the dataframe from csv and take a peek
combined_df = pd.read_csv('census_and_epa.csv')

# some columns, most likely defunct indexes, survived the merge and needed to be deleted
combined_df = combined_df.drop(combined_df.columns[[0, 1]], axis=1)
combined_df.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,...,PctBelowPoverty Population,PctBelowPoverty Under 18,PctBelowPoverty 18 to 64,PctBelowPoverty 65 and over,PctBelowPoverty Male,PctBelowPoverty Female,PctBelowPoverty 16 and Over,PctBelowPoverty 16 and Over Employed,State Code,County Code
0,Alabama,Baldwin,2012,284,226,56,2,0,0,0,...,14.1,20.2,14.2,30.5,NaN,NaN,20.1,22.8,1,3
1,Alabama,DeKalb,2012,361,282,74,5,0,0,0,...,13.3,20.4,12.9,NaN,NaN,NaN,36.6,31.7,1,49
2,Alabama,Elmore,2012,245,212,33,0,0,0,0,...,13.0,19.9,10.1,19.0,NaN,NaN,14.5,11.8,1,51
3,Alabama,Etowah,2012,277,229,48,0,0,0,0,...,21.2,32.4,19.8,27.8,NaN,NaN,40.5,41.0,1,55
4,Alabama,Houston,2012,284,238,46,0,0,0,0,...,19.2,28.8,17.1,38.8,NaN,NaN,38.4,31.9,1,69

In [19]:
# show columns to make sure everything aligns properly
combined_df.columns

Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days SO2', 'Days PM2.5', 'Days PM10', 'CountyState Name',
       'Total Population', 'Total Under 18', 'Total 18 to 64',
       'Total 65 and over', 'Total Male', 'Total Female', 'Total 16 and Over',
       'Total 16 and Over Employed', 'InPoverty Population',
       'InPoverty Under 18', 'InPoverty 18 to 64', 'InPoverty 65 and Over',
       'InPoverty Male', 'InPoverty Female', 'InPoverty 16 and Over',
       'InPoverty 16 and Over Employed', 'PctBelowPoverty Population',
       'PctBelowPoverty Under 18', 'PctBelowPoverty 18 to 64',
       'PctBelowPoverty 65 and over', 'PctBelowPoverty Male',
       'PctBelowPoverty Female', 'PctBelowPoverty 16 and Over',
       'PctBelowPoverty 16 and Over Employed', 'State Code', 'County Code'],
      dtype='object')